* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.hero_section {
    background-image: url(/images/heroSectionBackground.png);
    min-height: 65vh;
    background-size: cover;
    background-position: center;
    color: white;
}

.navbar {
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    height: 60px;
    padding: 18px 45px;
}

.navbar a {
    color: white;
    text-decoration: none;
}

.navbar_rightcontainer {
    display: flex;
    gap: 52px;
}

.navbar_rightcontainer .navbar_usericon {
    height: 30px;
    width: 30px;
    border-radius: 100%;
    border: 1px solid white;
    align-items: center;
    justify-content: center;
    display: none;

}

.hero_section_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 29px;
    height: calc(65vh, 60px);
    padding-top: 45px;
}

.hero_section_logo {
    width: 300px;
    height: auto;
}

.hero_section_containertitle {
    font-size: 35px;
    font-weight: normal;
    text-align: center;
}

.hero_section_containerinput {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 14px;
    width: 56%;
    gap: 10px;
    border-radius: 8px;
}

.input_container_location,
.input_container_search {
    border: none;
    outline: none;
}

.input_container_location {
    width: 35%;
    border-right: 2px solid rgb(192, 191, 191);
}

.input_container_search {
    width: 65%;
}

/* .input_container_location_icon {
    color: red;
} */

.section_services_offered {
    margin: 2.5rem auto;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    gap: 1.2rem;
    align-items: center;
    justify-content: center;
}

.services_offered {
    border-radius: 12px;
    overflow: hidden;
    border: 1px solid rgb(226, 226, 226);
    width: 29%;
    transition: all 0.32s ease;
}

.services_offered img {
    display: flex;
    height: 150px;
    object-fit: cover;
    width: 100%;
    object-position: center;
}

.services {
    padding: 17px;
}

.services h2 {
    color: rgb(37, 37, 37);
    font-size: 20px;
    font-weight: normal;
}

.services p {
    font-weight: normal;
    color: rgb(70, 70, 70);
}

.services_offered:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.section_cards_para {
    display: flex;
    justify-content: space-between;
    margin-left: 9.45%;
    margin-right: 9.45%;
}

.section_cards_para div p {
    font-size: 17.25px;
    font-weight: normal;
    color: rgb(41, 41, 41);
}

.section_cards_para span {
    /* font-size: 15px; */
    color: #ff7e8b;
    font-weight: 325;
    cursor: pointer;
}

.section_cards_heading {
    margin-left: 9.45%;
}

.section_cards_heading h2 {
    font-size: 34px;
    font-weight: normal;
}

.section_cards_cards {
    display: flex;
    margin-top: 1.5rem;
    gap: 0.5rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid black; */
    margin-left: 9.45%;
    margin-right: 9.45%;
}

.section_cards_cards .card {
    height: 320px;
    min-width: 265px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    position: relative;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 10px;
    background: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.8) 0%,
            rgba(0, 0, 0, 0.05) 50%,
            rgba(0, 0, 0, 0.05) 85%);

}

.section_cards_cards .card .cards_content {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 6px 16px;
    color: white;
    /* font-size: 0.8rem; */
    /* font-weight: lighter; */
}

.section_cards_cards .card .cards_content h4 {
    font-weight: 350;
    font-size: 17px;
}

.section_cards_cards .card .cards_content span {
    font-weight: 300;
    font-size: 14px;
}

.card1 {
    background: url(/images/collection1.jpg);
}

.card2 {
    background: url(/images/collection2.jpg);
}

.card3 {
    background: url(/images/collection3.jpg);
}

.card4 {
    background: url(/images/collection4.jpg);
}




@media only screen and (max-width:500px) {

    .navbar_usericon {
        display: flex;
    }

    .link {
        display: none;
    }

    .hero_section {
        min-height: 50vh;
    }

    .navbar {
        padding: 16px;
    }

    .hero_section_containerinput {
        flex-direction: column;
        background-color: transparent;
        width: 95%;
        height: 130px;
    }

    .input_container_location,
    .input_container_search {
        padding: 15px;
        border-radius: 10px;
        width: 95%;
    }

    .hero_section_containertitle {
        width: 95%;
        font-size: 20px;
    }

    .section_services_offered {
        flex-direction: column;
    }

    .services_offered {
        width: 8%;
    }

}